branches:
  only:
  - master
language: python
cache:
  directories:
  - "$HOME/.cache/pip"
sudo: false
matrix:
  include:
  - python: pypy
  - python: '2.7'
install:
- |
  if [ "${TRAVIS_PYTHON_VERSION}" == "pypy" ]; then
    git clone https://github.com/yyuu/pyenv.git ~/.pyenv
    PYENV_ROOT="$HOME/.pyenv"
    PATH="$PYENV_ROOT/bin:$PATH"
    eval "$(pyenv init -)"
    pyenv install pypy-5.0.1
    pyenv global pypy-5.0.1
  fi
- pip install -U pip setuptools wheel
- pip install -r requirements.txt .
script:
- "$(type -p trial) documint"
notifications:
  email: false
  slack:
    secure: JmRxn6koP4wuSjWHtxSEKfMfgjVZ1U3X9b5jZpo9j4TpRZl9WWMMfJImZEYnPzxoNp8FuUD73dfQntlqUZYNGaLAE/27pnmDggKdy3Aw6y7nr8wIV4dxzSaHVUiDQAz41PBi7ld3Dl/Garg8rcnqef8Wu1u1G/ZBtGnij1tdLSg=
